.root {
  display: inline-block;
  width: 100vw;
}

.sideNavWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 320px;
  height: 100vh;
}

.contents {
  display: inline-block;
  width: 100%;
  padding-left: 320px;
}
